
<body>
    @{
        ViewBag.Title = "raeleneStudyGroup";
    }

    @* Interface Enumarable = Enumarate or list (to ascertain the number of : count) *@

    @model IEnumerable<raeleneStudyGroup.Models.raeleneStudyGroupModel>
    <!--//"myStudent.Models" is Model namespace. "MyStudentModel" is class in model-->

    <h2>My Study Group</h2>

    @*<p>
            @Html.ActionLink("Create New", "Create") >> In this overload it is the name and the action >> Link going nowhere.
        </p>*@
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.myLink)
            </th>

        </tr>

        @foreach (var item in Model) //For each person
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a href="@Url.Content("~/HTML/" + item.myLink + "HTML.html")" class="btn btn-primary" target="_blank">
                        LINK
                    </a>
                </td>

                @*<td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>*@
            </tr>
        }
    </table>

</body>
